<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body(class=["myClass"])
        h1(id="myId")=title 
        p
            h3 checkout pug!
        ul
            each val in list
             li=val